<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.privacyprotection.mapper.UserCollectMapper">
    <select id="checkCollected" resultType="com.example.privacyprotection.entity.UserCollect">
        select *
        from user_collect
        where user_id = #{userId}
          and file_id = #{fileId}
    </select>

    <select id="getUserCollections" resultType="com.example.privacyprotection.VO.CollectVO">
        SELECT user_collect.id,
               file.file_name,
               `user`.username,
               `user`.avatar,
               file_describe,
               file_type,
               file_state,
               user_collect.create_time
        FROM file
                 JOIN user_collect ON file.id = user_collect.file_id
                 JOIN `user` ON file.user_id = `user`.id
        WHERE user_collect.user_id = #{userId}
    </select>
</mapper>
