<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.privacyprotection.mapper.UserMapper">
    <select id="checkUsername" resultType="com.example.privacyprotection.entity.User">
        select username
        from user
        where username = #{username}
    </select>
    <select id="getUserByUsername" resultType="com.example.privacyprotection.entity.User">
        select *
        from user
        where username = #{username}
    </select>
    <select id="getUserByToken" resultType="com.example.privacyprotection.entity.User">
        select *
        from user
        where token = #{token}
    </select>
    <update id="updateToken">
        update user
        set token=#{token}
        where id = #{id}
    </update>
    <update id="login">
        update user
        set token=#{token},
            update_time=now()
        where id = #{id}
    </update>
    <update id="cleanToken">
        update user
        set token=#{reset}
        where token = #{token}
    </update>
    <insert id="register" parameterType="com.example.privacyprotection.entity.User" useGeneratedKeys="true"
            keyProperty="id">
        <selectKey keyProperty="createTime" resultType="java.util.Date" order="BEFORE">
            SELECT CURRENT_TIMESTAMP
        </selectKey>
        insert into user(username, password,avatar, create_time,role)
        values (#{username}, #{password},#{avatar},#{createTime},0)
    </insert>
    <select id="getUsers" resultType="map">
        select *
        from user
    </select>
</mapper>
